@tailwind base;
@tailwind components;
@tailwind utilities;

body {
@apply bg-gray-950 text-white
}

.banner {
background-image: url(./img/bannerImg.png) ;
display: flex;
justify-content: center;
color: rgb(233, 226, 226);
}